<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret</title>
</head>
<body>
    <div>
    <h1>This is a scret page: </h1>
    <p>Here's some secret content...</p>
    <a href="/logout">Logout</a> <!-- Add a link to the logout route -->
</div>
</body>
</html>